#dark {
    border: 5px solid green;
    background-color: rgb(0, 0, 0);
    background-color: rgb(108, 104, 104);
    color: white;

p {
     background-color: beige;
     color: rgb(255, 47, 47);
     padding: 10px;
 }

 h3 {
     color: rgb(44, 71, 3);
     background-color: rgb(148, 158, 155);
     padding: 10px;
 }
}